<p id="notice"><%= notice %></p>

<p>
  <strong>Direccion:</strong>
  <%= @encuestum.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @encuestum.telefono %>
</p>

<p>
  <strong>Tipo vivienda:</strong>
  <%= @encuestum.tipo_vivienda %>
</p>

<p>
  <strong>Estrato:</strong>
  <%= @encuestum.estrato %>
</p>

<p>
  <strong>Servicios:</strong>
  <%= @encuestum.servicios %>
</p>

<p>
  <strong>Tipo servicios:</strong>
  <%= @encuestum.tipo_servicios %>
</p>

<p>
  <strong>Habitaciones:</strong>
  <%= @encuestum.habitaciones %>
</p>

<p>
  <strong>Piso vivienda:</strong>
  <%= @encuestum.piso_vivienda %>
</p>

<p>
  <strong>Paredes vivienda:</strong>
  <%= @encuestum.paredes_vivienda %>
</p>

<p>
  <strong>Basuras:</strong>
  <%= @encuestum.basuras %>
</p>

<%= link_to 'Edit', edit_encuestum_path(@encuestum) %> |
<%= link_to 'Back', encuesta_path %>
