<!DOCTYPE html>
<html>
<head>
  <title>Reg</title>

   <%= stylesheet_link_tag    'bootstrap' %>
   <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
      </style>
      
  <%= stylesheet_link_tag 'bootstrap-responsive' %>
  <%= stylesheet_link_tag 'aplication', :media => 'all' %>
</head>
<body>
  
    
	<div id="nav">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :get %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  
<%= yield %>

</body>
</html>